<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Главная страница</title>
    <style>
        .auth-links {
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            gap: 20px; /* Расстояние между ссылками */
        }
        .auth-links a {
            color: white;
            text-decoration: none;
        }
        .auth-links a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>
        <h1>Главная страница</h1>
        <!--
        <div class="auth-links">
            <a href="/register">Регистрация</a>
            <a href="/login">Вход</a>
            <a href="/logout">Выход</a>
        </div>-->
   
    <div class="auth-links">
        {% if session.get('username') %}
            <!-- Если пользователь вошел -->
            <span class="username">Привет, {{ session['username'] }}</span>
            <a href="/logout">Выход</a>
        {% else %}
            <!-- Если пользователь не вошел -->
            <a href="/register">Регистрация</a>
            <a href="/login">Вход</a>
        {% endif %}
    </div>
</header>
    <nav class="top-menu">
        <ul>
            <li><a href="/articles">Статьи</a></li>
            <li><a href="/router_setup">Настройка роутеров</a></li>
            <li><a href="/antivirus_installation">Установка антивирусов</a></li>
            <li><a href="/pc_setup">Настройка ПК</a></li>
            <li><a href="/other_services">Другие услуги</a></li>
            <li><a href="/chat">Чат</a></li>
        </ul>
    </nav>

    <div class="container">
        <aside>
            <nav class="sidebar-menu">
                <ul>
                    <li><a href="/about">О нас</a></li>
                    <li><a href="/contact">Контакты</a></li>
                    <li><a href="/services">Услуги</a></li>
                    <li><a href="/prices">Цены</a></li>
                    <li><a href="/faq">Часто задаваемые вопросы</a></li>
                </ul>
            </nav>
        </aside>

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

</body>
</html>
