<!-- templates/router_setup.html -->
{% extends "base.html" %}

{% block content %}

    <section>
        <h2>Настройка роутеров</h2>
       
        <div class="content-wrapper">          
        <!-- Добавляем изображение слева с обтеканием -->
        <img src="{{ url_for('static', filename='img/router.webp') }}" alt="Изображение роутера" class="float-image">
        <div class="text-wrapper">  
        <p>
                Мы предоставляем комплексные услуги по настройке и оптимизации роутеров для дома и офиса. 
                Наши специалисты помогут вам настроить роутер для стабильного и быстрого подключения к интернету, 
                обеспечить безопасность сети, настроить гостевой доступ и оптимизировать скорость соединения. 
                Мы также предлагаем консультации по выбору оборудования, обновление прошивок, 
                установку родительского контроля и другие настройки.
            </p>
            <p>
                С нашей помощью вы сможете использовать свой роутер с максимальной эффективностью, 
                а также улучшить безопасность сети для защиты ваших данных и устройств.
            </p>
        </div>
        </div>
        </section>

{% endblock %}
